# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/

# Airflow (fichiers générés localement)
airflow.db
airflow.cfg
airflow-webserver.pid
standalone_admin_password.txt
simple_auth_manager_passwords.json.generated
logs/

# Secrets 
.env
*.pem
*.key
*.crt
secrets/

# Données générées par le pipeline
data/*
!data/.gitkeep

# Divers
*.log
.vscode/
.idea/
